*.class
*.tasty
*.log

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Scala / sbt build output
target/
**/target/
project/target/
project/project/

# Metals / Bloop / BSP
.metals/
.bloop/
.bsp/

# Also ignore them if they appear in subfolders
**/.metals/
**/.bloop/
**/.bsp/

# scala-cli / Scala build server outputs
.scala-build/

# Also ignore nested scala-cli build dirs
**/.scala-build/

# IDE/editor
.idea/
.vscode/
